<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inrregular verbs lesson 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>{{selected.Infinitive}}</ion-label>
    </ion-item>
  
    <ion-card-content>
      <ion-item>
        <ion-icon name="{{iconS}}" slot="start"></ion-icon>
        <ion-label position="floating">Simple Past</ion-label>
        <ion-label *ngIf="errorSimplePast" position="floating" color="danger">{{selected.SimplePast}}</ion-label>
        <ion-input placeholder="?" [(ngModel)]="simplePast"></ion-input> 
      </ion-item>
      <ion-item>
        <ion-icon name="{{iconP}}" slot="start"></ion-icon>
        <ion-label position="floating">Past Participle</ion-label>
        <ion-label *ngIf="errorPastParticiple" position="floating" color="danger">{{selected.PastParticiple}}</ion-label>
        <ion-input placeholder="?" [(ngModel)]="pastParticiple"></ion-input>    
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-button fill="outline" slot="start" (click)="check()">check</ion-button>
    <ion-button (click)="next()" slot="end" > 
      <ion-icon name="arrow-dropright"></ion-icon>
      next
    </ion-button>
  </ion-item>
</ion-content>
