<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>English lesson</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Only you can change your future.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item [routerLink]="'/list'">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Inrregular verbs</ion-label>
    </ion-item>
    <ion-item [routerLink]="'/list/test'">
      <ion-icon slot="start" color="medium" name="school"></ion-icon>
      <ion-label>Inrregular verbs test</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
